$bgcColor: rgba(141, 129, 129, 0.678);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrap {
  margin: 0 auto;
  display: flex;
  max-width: 1300px;
  flex-direction: column;

  background-image: url("../img//oil-3629119_1920.jpg");
  background-repeat: no-repeat;

  label {
    text-align: center;
    color: white;
    font-family: "Fjalla One", sans-serif;
  }
  input {
    text-align: center;
    margin: 6px;
    padding: 4px;
    color: white;
    background-color: $bgcColor;
    box-shadow: 0px 0px 4px 2px rgba(255, 255, 255, 0.5);
    border: 2px solid black;
    border-radius: 20px;
  }

  .inputData {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    .qt {
      display: flex;
      flex-direction: column;
      width: 20%;
    }

    .delta {
      display: flex;
      flex-direction: column;
      width: 20%;
    }
    .presure {
      display: flex;
      flex-direction: column;
      width: 20%;
    }
  }
  .buttons {
    display: flex;
    flex-direction: column;

    align-items: center;

    button {
      width: 30%;
      margin: 10px 0;
      padding: 15px;
      background-color: #ed7932;
      border: 2px solid #ed7932;
      color: white;
      font-family: "Fjalla One", sans-serif;
    }
  }
  .reset {
    opacity: 0.5;
  }

  .results {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 30%;
    margin: 10px auto;
    color: white;
    background-color: $bgcColor;

    border: 2px solid black;
    font-family: "Fjalla One", sans-serif;
  }
  div {
    margin: 10px;
  }
}

#chartContainer {
  padding: 0;
  margin: 0 auto;
  width: 96%;
}
